
SECRET_KEY=change-me-to-a-random-secret-key
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,your-ec2-public-ip,your-domain.com

DB_NAME=confessions_db
DB_USER=confessions_user
DB_PASSWORD=change-me
DB_HOST=127.0.0.1
DB_PORT=5432
